<footer class="footer-main cf">
	<p class="feed"><a href="{{@blog.url}}/rss">RSS Feed</a></p>
	<p class="description">
        <a class="title" href="{{@blog.url}}">{{@blog.title}}</a>
        {{#if @blog.description}}<span>{{@blog.description}}</span>{{/if}}
    </p>
	<p class="copyright">&copy; 2015 <a href="https://iyware.com">iyWare</a></p>
</footer>