<nav class="pagination">
    {{#if prev}}
        <a href="{{page_url prev}}" class="prev">&laquo;&nbsp;Newer</a>
    {{/if}}
    {{#if next}}
        <a href="{{page_url next}}" class="next">Older&nbsp;&raquo;</a>
    {{/if}}
</nav>